.sidebar_main {
    width: 30%;
    min-width: 250px;
    height: 91%;
    background-color: rgba(220, 220, 220, 0.704);
    border-right: 1px solid rgb(182, 182, 182);
    padding: 30px;
}

/* ----------------------------------------------- */
/*                 User Profile                    */
/* ----------------------------------------------- */
.localUser {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(205, 204, 204, 0.65);
}

.localUser_profile {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    transition: 0.7s;
    object-fit: cover;
}

/* hover */
.localUser_profile:hover {
    position: relative;
    border-radius: 5%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    z-index: 100;
    cursor: zoom-out;
    transition: 0.9s;
}

.localUser_name {
    font-size: 25px;
    font-weight: 600;
    color: green;
    transition: 0.2s;
}

/* hover */
.localUser_name:hover {
    font-size: 30px;
    font-weight: 900;
    cursor: no-drop;
    transition: 0.3s;
}

.localUser_email {
    font-size: smaller;
    color: gray;
    transition: 0.2s;
}

/* hover */
.localUser_email:hover {
    font-size: large;
    color: green;
    cursor: no-drop;
}

/* ----------------------------------------------- */
/*                End user Profile                 */
/* ----------------------------------------------- */

.sidebar_search {
    padding: 10px;
    border-radius: 20px;
    background-color: #F5F5F5;
    letter-spacing: 2.5px;
    font-size: 15px;
    border: 0px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.users_li {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


.sidebar_user_list {
    width: 100%;
    height: 70px;
    margin-top: 10px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    border-radius: 15px;
}

.sidebar_user_list:hover {
    cursor: pointer;
    font-weight: 700;
    color: green;
    background-color: #f9c9c9b9;
}

.sidebar_user_list img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* hover */
.sidebar_user_list img:hover {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: 0.9s;
}

.sidebar_user_list div {
    margin-left: 10px;
}

.users_list_name:hover {
    color: rgb(0, 255, 0);
    font-size: 20px;
}

.lastMessage {
    font-size: 14px;
    color: green;
}

.lastMessage:hover {
    font-size: 15px;
    color: rgb(0, 255, 0);
}