.main {
    bottom: 0;
    width: 100%;
    position: absolute;
    padding: 15px 0px 15px 0px;
    background-color: rgba(232, 232, 232, 0.609);
    border-top: 1px solid rgb(182, 182, 182);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input {
    padding: 10px;
    min-width: 230px;
    width: 85%;
    border-radius: 20px;
    background-color: #72f8e4;
    letter-spacing: 2.5px;
    font-size: 15px;
    border: 0px;
    padding-left: 10px;
}

.button {
    border: 5px solid #72f8e4;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    border-color: #fff;
    background-color: aqua;
}